<div class='row'>
 <%= render 'users/user_mobile_nav' %>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-sm-1 logo hidden-xs'>
      <%= image_tag('logo.png') %>
    </div>
    <div class='col-sm-10'>
    <div class='question-answer'>
      <div class='header'>
        <h3 class='col-xs-8'><strong>Quiz Topic:</strong> <%=@question.lesson.title%></h3>
        <div class='clock'>
          <%= image_tag('clock.png') %>
        </div>
      </div>
      <div class='time'>
        <span class='timer'><%= time(@quiz.time) %></span> mins left
      </div>
      <div class='question-count'>
        <h4>Question <%= @quiz.answer_submissions.size + 1 %> out of 5.</h4>
      </div>
      <div class='question'>
        <%=@question.question%><br>
        <% if @question.image.present? %>
          <%= image_tag @question.image.url, class: 'img-responsive' %>
        <% end %>
      </div>
      <div class='answers'>
        <%= form_for @answer_submission, html: {class: 'nifty_form'} do%>
          <% @choices.each_with_index do |choice,index| %>
            <%= radio_button_tag(:choice_id, choice.id)%>
            <%= label_tag('choice_id_'+choice.id.to_s, @ids[index] + '. ' + choice.choice)%><br/>
          <% end %>
          <%= hidden_field_tag :quiz_id, @quiz.id %>
          <%= submit_tag 'Answer', class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
      

      
    </div>
    </div>
  </div>
</div>

<script>
var timerFunc = setInterval(function() {
      TimerModel.quizCountDown();
    }, 1000)

</script>
