<h5>Time: </h5>
<p class='timer'><%= @quiz.time %></p>


<h4><%=@question.question%></h4>

<%= form_for @answer_submission, html: {class: 'nifty_form'} do%>
  <% @question.choices.each do |choice| %>
    <%= radio_button_tag(:choice_id, choice.id)%>
    <%= label_tag(:choice_id, choice.choice)%><br>
  <% end %>
  <%= hidden_field_tag :quiz_id, @quiz.id %>
  <%= hidden_field_tag :time, @quiz.time, class: 'time' %>
  <%= submit_tag 'Answer'%>
<% end %>
