<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=175063639353204&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<html xmlns:fb="http://ogp.me/ns/fb#">

<div class='row'>
 <%= render 'users/user_mobile_nav' %>
</div>
</div>
<div class='container'>
<div class='quiz welcome'>
  <div class='row'>
    <div class='quiz-top-menu top-menu hidden-xs'>
      <div class='col-sm-4'>
        <%= link_to '< Dashboard', user_dashboard_path %>
      </div>
      <div class='quiz-logo col-sm-4'>
          <%= image_tag('signup_logo.png') %>
      </div>
      <div class='col-sm-4'></div>
    </div>
    <div class='hero'>
        <% if @quiz.pass? %>
          <%= image_tag('quiz_pass.jpg',class: 'img-responsive hidden-xs') %>
          <%= image_tag('quiz_pass_mobile.jpg',class: 'img-responsive visible-xs') %>
        <% else %>
          <%= image_tag('quiz_fail.jpg',class: 'img-responsive hidden-xs') %>
          <%= image_tag('quiz_fail_mobile.jpg',class: 'img-responsive visible-xs') %>
        <% end %>
    </div>
  </div>
  <% if @quiz.pass? %>
  <div class='row'>
    <div class='col-sm-4 hidden-xs'>
      <div class='left-panel'>
        <div class='social'>
          <p class='heading'>Share your results:<p>
            <div class='fb-share'>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http://statsdojo.com" target="_blank">
                <%=image_tag('fb-icon.png')%>
              </a>
            </div>
            <div>
              <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url='http://statsdojo.com' data-text='I just passed my StatsDojo Test and got a <%= @quiz.score * 100 %>%!' data-count='none'>Tweet</a>
            </div>
            <div class="g-plusone" data-href='http://statsdojo.com' data-annotation="none"></div>
        </div>
        <div class='certificate'>
          <p class='heading'>Your results will be emailed:<p>
          <p><%= image_tag('cert.png') %></p>
          <p class='print-link'><a href='/quizzes/<%=@quiz.id%>/certificate' target='_blank' class='btn btn-primary'> PRINT CERTIFICATE <a><p>
            
        </div>
      </div>
    </div>
    <div class='col-sm-8 col-xs-12'>
      <div class='right-panel'>
        <div class='score'>
          <p class='stat'><%= @quiz.score*100 %>%</p>
          <p class='sub-head'> Your Score </p>
        </div>
        <div class='belt-status'>
          <%= image_tag('belt.png', class: "img-responsive #{@user.assigned_lesson.belt.belt}") %>
          <p class='sub-head'> Your Challenged Belt </p>
        </div>
        <div class='quiz-again'>
          <p class='icon'><%= image_tag('quiz.png') %></p>
          <p>
            <%= form_for @new_quiz, url: quizzes_path, html:{class: 'nifty_form'} do %>
              <%= hidden_field_tag :lesson_id, @quiz.lesson.id %>
              <%= submit_tag 'TAKE QUIZ AGAIN', class: 'btn btn-primary' %>
            <% end %>
        </div>
        <div class='video-again'>
          <p class='icon'><%= image_tag('watch.png') %></p>
          <p class='btn-link'>
            <button class="btn btn-primary" data-toggle="modal" data-target="#videoModal">
              WATCH VIDEO AGAIN
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <div class='fail row'>
    <div class='col-sm-4'>
      <div class='score'>
        <p class='stat'><%= @quiz.score*100 %>%</p>
        <p class='sub-head'> Your Score </p>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='quiz-again'>
        <p class='icon'><%= image_tag('quiz.png') %></p>
        <p>
          <%= form_for @new_quiz, url: quizzes_path, html:{class: 'nifty_form'} do %>
            <%= hidden_field_tag :lesson_id, @quiz.lesson.id %>
            <%= submit_tag 'TAKE QUIZ AGAIN', class: 'btn btn-primary' %>
          <% end %>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='video-again'>
        <p class='icon'><%= image_tag('watch.png') %></p>
        <p class='btn-link'>
          <button class="btn btn-primary" data-toggle="modal" data-target="#videoModal">
            WATCH VIDEO AGAIN
          </button>
        </p>
      </div>
    </div>
  </div>
  <% end %>

</div>


<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @quiz.lesson.title %></h4>
      </div>
      <div class="modal-body">
        <% @quiz.lesson.videos.each do |video| %>
            <%= video_tag video.video.url, controls: true, data: { user_id: @user.id, video_id: video.id } %>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(function() {
    videoView();
  })
</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
