<div class='row'>
  <%= render 'user_nav' %>
  <div class='col-sm-9'>
    <div class='rosters-index lessons dashboard'>
      <h2 class='heading'> My Classes </h2>        
      <button class='btn btn-primary btn-md' data-toggle='modal' data-target='#newClassRequest'>Request to be Added to a Class</button>
      <table id='lessons' class='table table-striped'>
        <thead>
          <tr>
            <th class ='left'>CLASS</th>
            <th>VIDEO VIEWS</th>
            <th>QUIZ ATTEMPTS</th>
            <th>QUESTIONS</th>
            <th>STUDENTS</th>
          </tr>
        </thead>
        <tbody data-update-url="<%= sort_lessons_path %>">
          <% @rosters.each do |roster| %>
          <tr id="roster_<%= roster.id %>">
            <td><%= link_to roster.title, roster_path(roster) %></td>
            <td><%= @user.roster_view_count(roster) %></td>
            <td><%= @user.roster_quiz_attempts(roster).size %></td>
            <td><%= percent(@user.roster_avg_score(roster))%></td>
            <td><%= roster.users.size%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="newClassRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Class Request</h4>
      </div>
      <div class="modal-body">
        <%= render 'new_class_request' %>
      </div>
    </div>
  </div>
</div>
  