<div class='row'>
  <%= render 'users/prof_nav' %>
  
  <div class='rosters col-sm-9'>
    <div class='lessons dashboard'>
      <h2>
        <span class="rest-in-place" data-url="/rosters/<%=@roster.id%>" data-object="roster" data-attribute="title" data-placeholder="roster">
          <%= @roster.title %> 
        </span>
      </h2>
      <div id='accordion'>
        <div class='roster-controls'>
          <%= link_to 'Add Students','',  data: {toggle: 'modal', target: '#myModal'}, class: 'btn btn-primary' %>
          <%= link_to 'Edit Lessons','#editLessons',  data: {toggle: 'collapse', parent: '#accordion'}, class: 'btn btn-primary' %>
        </div>
        
        <div id='editLessons' class='panel-collapse collapse'>
          <div class='panel-body'>
            <%= render 'edit_lessons' %>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          <%= form_for @roster, url: add_students_path(@roster), method: :patch do |f| %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Add Students</h4>
            </div>
            <div class="modal-body">
              <%= render 'student_select'%>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit 'Update', class: 'update-students-btn btn btn-primary' %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class='roster-stats lesson-stats'>
        <ul>
          <li>
            <div class='header'>Views</div>
            <div class='stat'><%= @roster_stats[:view_count] %></div>
          </li>
          <li>
            <div class='header'>Quiz Attempts</div>
            <div class='stat'><%= @roster_stats[:quiz_attempts] %></div>
          </li>
          <li>
            <div class='header'>Average Score</div>
            <div class='stat'><%= percent(@roster_stats[:avg_score]) %></div>
          </li>
        </ul>
      </div>
      <br/>
      <table id='students' class='table table-striped'>
        <thead>
          <tr>
            <th class ='left'>STUDENT</th>
            <th>VIDEO VIEWS</th>
            <th>QUIZ ATTEMPTS</th>
            <th>QUESTIONS</th>
            <th></th>
          </tr>
        </thead>
        <tbody data-update-url="<%= sort_lessons_path %>">
          <% @student_stats.each do |student| %>
          <tr id="student_<%= student[0].id %>">
            <td><%= link_to student[0].name, student_roster_path(@roster.id,student[0].id) %></td>
            <td><%= student[1][:view_count] %></td>
            <td><%= student[1][:quiz_attempts] %></td>
            <td><%= percent(student[1][:avg_score]) %></td>
            <td><%= link_to "<i class='fa fa-trash-o'></i>".html_safe, remove_student_path(@roster.id,student[0].id), method: :post,data: { confirm: 'You are about to remove this student from your roster. Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>