<div class='row'>
  <%= render 'users/prof_nav' %>
  
  <div class='col-sm-9'>
    <div class='lessons dashboard'>
      <h2> <%= @roster.title %> </h2>
      <div class='lesson-stats'>
        <ul>
          <li>
            <div class='header'>Views</div>
            <div class='stat'><%= @roster.view_count %></div>
          </li>
          <li>
            <div class='header'>Quiz Attempts</div>
            <div class='stat'><%= @roster.quiz_attempts.size %></div>
          </li>
          <li>
            <div class='header'>Average Score</div>
            <div class='stat'><%= percent(@roster.avg_score) %></div>
          </li>
        </ul>
      </div>
      <table id='students' class='table table-striped'>
        <thead>
          <tr>
            <th class ='left'>STUDENT</th>
            <th>VIDEO VIEWS</th>
            <th>QUIZ ATTEMPTS</th>
            <th>QUESTIONS</th>
            <th></th>
          </tr>
        </thead>
        <tbody data-update-url="<%= sort_lessons_path %>">
          <% @students.each do |student| %>
          <tr id="student_<%= student.id %>">
            <td><%= student.name %></td>
            <td><%= student.roster_view_count(@roster) %></td>
            <td><%= student.roster_quiz_attempts(@roster).size %></td>
            <td><%= percent(student.roster_avg_score(@roster)) %></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>