  <div class='side-nav'>
    <%= image_tag('dashboard_logo.png') %>
    <ul>
      <li <%='class=selected' if current_page?(user_dashboard_path)%>>
        <%= link_to 'Dashboard', user_dashboard_path %>
      </li>
      <li <%='class=selected' if current_page?(lessons_path)%>>
        <%= link_to 'Lessons', lessons_path %>
      </li>
      <li <%='class=selected' if current_page?(users_path)%>>
        <%= link_to 'Members', users_path %>
      </li>
    </ul>
  </div>