  <div class='side-nav hidden-xs'>
    <%= image_tag('dashboard_logo.png') %>
    <ul>
      <li <%='class=selected' if current_page?(user_dashboard_path)%>>
        <%= link_to 'Dashboard', user_dashboard_path %>
      </li>
      <li <%='class=selected' if current_page?(user_summary_path)%>>
        <%= link_to 'My Stats', user_summary_path %>
      </li>
    </ul>
  </div>
  
 <%= render 'user_mobile_nav' %>
