<div class='row'>
 <%= render 'users/admin_nav' %>


  <div class='lessons col-sm-9'>
    <div class='dashboard'>
      <h2> Members </h2>
      <input class='form-control' placeholder='Search Members...' id='member-search'>
  
  <table class='table table-striped'>
      <thead>
        <tr>
          <th class ='left'>Name</th>
          <th>Type</th>
          <th>School</th>
          <th>Last Quiz Score</th>
          <th>Last Belt</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.list_name, user_path(user) %></td>
            <td><%= user.member_type %></td>
            <td><%= user.school.school if user.school.present? %></td>
            <td><%= percent(user.completed_quizzes.last.score) unless user.completed_quizzes.empty? %></td>
            <td><%= user.belts.last.belt unless user.belts.empty? %></td>
            <td><%= link_to "<i class='fa fa-trash-o'></i>".html_safe, user_path(user), method: :delete, data: { confirm: 'You are about to delete this member. This is irreversible. Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

