<div class='row'>
 <%= render 'users/admin_nav' %>


  <div class='lessons col-sm-9'>
    <div class='summary dashboard'>
      <h2> Student Detail </h2>
      <div class='student-details'>
        <ul>
        <li> NAME: <%= @user.name %> </li>
        <% if @user.school.present? %>
        <li> SCHOOL: <%=@user.school%> </li>
        <% end %>
        </ul>
      </div>
  
  <table class='table table-striped'>
      <thead>
        <tr>
          <th>TOPIC</th>
          <th>VIEWS</th>
          <th>AVG SCORE</th>
          <th>ATTEMPTS</th>
        </tr>
      </thead>
      <tbody>
        <% @user.attempted_lessons.each do |lesson| %>
          <tr>
            <td><%= lesson.title %></td>
            <td class='stat'><%= @user.view_count(lesson.id) %></td>
            <td class='stat'><%= percent(@user.avg_score(lesson.id)) %></td>
            <td class='stat'><%= @user.quiz_attempts(lesson.id).size %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

