<div class='row'>
  <%= render 'user_nav' %>
  
  <div class='col-sm-9'>
    <div class='summary dashboard'>
      <h2> Student Detail </h2>
      <div class='student-details'>
        <ul>
        <li> NAME: <%= @user.name %> </li>
        <% if @user.school.present? %>
        <li> SCHOOL: <%=@user.school%> </li>
        <% end %>
        </ul>
      </div>
      
      <div class='student-stats'>
        <table>
          <thead>
            <tr>
              <th class ='left'>TOPIC</th>
              <th>VIEWS</th>
              <th>AVG SCORE</th>
              <th>ATTEMPTS</th>
            </tr>
          </thead>
          <tbody>
            <% @user.completed_lessons.each do |lesson| %>
              <tr>
                <td><%= lesson.title %></td>
                <td class='stat'><%= @user.view_count(lesson.id) %></td>
                <td class='stat'><%= percent(@user.avg_score(lesson.id)) %></td>
                <td class='stat'><%= @user.completed_quizzes_by_lesson(lesson.id).size %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      
    </div>
  </div>
</div>