<div class='row'>
  <%= render 'user_nav' %>
  
  <div class='col-sm-9'>
    <div class='summary dashboard'>
      <h2> Student Detail </h2>
      <div class='student-details'>
        <ul>
        <li> NAME: <%= @user.name %> </li>
        <li> SCHOOL: <%=@user.school.school%> </li>
        </ul>
      </div>
      
      <div class='student-stats'>
        <table>
          <thead>
            <tr>
              <th class ='left'>TOPIC</th>
              <th>VIEWS</th>
              <th>AVG SCORE</th>
              <th>ATTEMPTS</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <% @lessons.each do |lesson| %>
              <tr>
                <td>
                  <%= lesson.title %>
                  <%= form_for @quiz, url: quizzes_path, html:{class: 'nifty_form'} do %>
                  <p class='lesson-links'>
                    <a href='#' data-toggle="modal" data-target="#<%=lesson.id%>"> View Video </a>
                    <span class='mdot'> &#183; </span>
                    <%= hidden_field_tag :lesson_id, lesson.id %>
                    <%= submit_tag 'Retake Quiz', class: 'linkify' %>
                  </p>
                  <%end%>
                </td>
                <td class='stat'><%= @user.view_count(lesson.id) %></td>
                <td class='stat'><%= percent(@user.avg_score(lesson.id)) %></td>
                <td class='stat'><%= @user.completed_quizzes_by_lesson(lesson.id).size %></td>
                <td class='stat'>
                  <%= @user.completed_lessons.include?(lesson) ? 'Pass' : 'Fail' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      
    </div>
  </div>
</div>

<% @lessons.each do |lesson| %>
  <div class="modal fade" id="<%=lesson.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><%= lesson.title %></h4>
        </div>
        <div class="modal-body">
          <% lesson.videos.each do |video| %>
              <%= video_tag video.video.url, controls: true, data: { user_id: @user.id, video_id: video.id } %>
            <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script>
  $(function() {
    videoView();
  })
</script>