<div class='row'>
 <%= render 'user_nav' %>


  <div class='col-sm-9'>
    <div class='dashboard'>
      <h2> Dashboard </h2>
      
      <div class='stats-overview'>
        <h4> YOUR STATS OVERVIEW </h4>
        <div class='header-break'></div>
        <strong>Progress toward a Ninja Status</strong>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent(@user.ninja_status) %>">
            <%= percent(@user.ninja_status) %>
          </div>
        </div>
        <div>Belts Earned:</div>
        <div><%=@user.belts.map { |belt| belt.belt }%></div>
      </div>

      <div class='current-lesson'>
        <div class='header'>
          <h4> CURRENT ASSIGNMENT </h4>
          <div class='header-break'></div>
          Topic: <strong><%= @lesson.title %></strong>
        </div>
        
        
        <div class='video-preview'>
          <% @lesson.videos.each do |video| %>
            <%= video_tag video.video.url, controls: true %>
          <% end %>
        </div>
        <div class='take-assessment'>
          <%= form_for @quiz, url: quizzes_path, html:{class: 'nifty_form'} do %>
            <%= hidden_field_tag :lesson_id, @lesson.id %>
          <%= submit_tag 'TAKE THE QUIZ', class: 'btn btn-primary btn-lg' %>
          <%end%>
        </div>
      </div>
            
      <div class='lesson-stats'>
        <ul>
          <li>
            <div class='header'>Views</div>
            <div class='stat'>N</div>
          </li>
          <li>
            <div class='header'>Quiz Attempts</div>
            <div class='stat'><%= @user.completed_quizzes_by_lesson(@lesson.id).size %></div>
          </li>
          <li>
            <div class='header'>Average Score</div>
            <div class='stat'><%= @user.avg_score(@lesson.id) %></div>
          </li>
          <li>
            <div class='header'>Challenged Belts</div>
            <div class='stat'><%=@lesson.belt.belt%></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
</div>