<h1> Student Dashboard </h1>

<div id='user-info'>
  <%=@user.first_name%> <%=@user.last_name%><br>
  <%=@user.email%>
</div>

<div id='lesson-status'>
  <div id='current-lesson'>
    Your current assignment: <%= link_to @user.assigned_lesson.title, @user.assigned_lesson %>
  </div>
  <div id='past-lesson'>
    <% if @user.completed_levels.empty? %>
      You have not completed any lessons.
    <%else%>
      Completed Lessons:
      <% @user.completed_lessons.each do |lesson| %>
        <li><%= link_to lesson.title, lesson %></li>
      <%end%>
    <%end%>
  </div>
</div>
