<div class='row'>
 <%= render 'users/admin_nav' %>


  <div class='col-sm-9'>
    <div class='lessons dashboard'>
      <h2> Lessons </h2>        
      <%= link_to 'New Lesson', new_lesson_path, class: 'btn btn-primary' %> 
        <table class='table table-striped'>
          <thead>
            <tr>
              <th class ='left'>TOPIC</th>
              <th>LEVEL</th>
              <th>BELT</th>
              <th>QUESTIONS</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @lessons.each do |lesson| %>
              <tr>
                <td><%= link_to lesson.title, lesson_path(lesson) %></td>
                <td><%= lesson.level %></td>
                <td><%= lesson.belt.belt %></td>
                <td><%= lesson.questions.size %></td>
                <td>
                  <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, lesson_path(lesson), method: :delete, data: { confirm: 'You are about to delete a lesson. This is irreversible. Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
  
</div>