<h2>Lesson: <%=@lesson.title%><h2>
<h4><%=@lesson.description%><h4>

<div id='video'>
  <% @lesson.videos.each do |video| %>
    <%= video_tag video.video.url, controls: true %>
  <% end %>
</div>

<%= form_for @quiz, url: quizzes_path, html: {class: 'nifty_form'} do %>
  <%= hidden_field_tag :lesson_id, @lesson.id %>
  <%= submit_tag 'Start Assessment' %>
<%end%>
