<!DOCTYPE html>
<html>
<head>
  <title>StatsDojo</title>
  <meta property="og:title" content="I just passed my exam at StatsDojo.com!"/>
  <meta property="og:image" content="/assets/signup_logo.png"/>
  <meta name="description" content="I just passed my exam at StatsDojo.com!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55110612-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=499960483441857&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class='container-fluid'>
  <div class='user-info hidden-xs'>
    <% if user_signed_in? %>
      <span class='greeting'> Hi <%= current_user.first_name %>! </span>
      <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete, class: 'btn btn-primary btn-md') %>
    <% end %>
  </div>

<%= yield %>
</div>

</body>
</html>
